#splash {
  display: flex;
  align-items: center;
  padding: 2rem;
}

#splash .dark {
  color: #222
}

#splash .squares-256 {
  margin: 0 auto;
  width: 36rem;
  position: relative;
}

.floating-title {
  position: absolute;
  right: 0;
  line-height: 2rem;
  opacity: 50%;
}

#splash .squares-256 .s-6x6 {
  margin-bottom: 0;
  float: left;
}

#splash .squares-256 .six-squares-6x6 {
  margin-bottom: 0;
  width: 36rem;
}

@media screen and (max-width: 36rem) {
  #splash .squares-256 .six-squares-6x6 {
    width: 100%;
  }
}
